.callout.primary { background: 
              rgba(135, 60, 255, 0.4);
border-bottom: 1px solid blue;
margin-bottom: 5%;}
.blog-post {margin-top: 8%;}

dl, dt, dd {display: inline;}

.metadaten * {display: inline !important;}